breadability==0.1.20
cached-property==1.5.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
docopt==0.6.2
h5py==3.1.0
idna==2.10
joblib==0.17.0
Keras==2.4.3
lxml==4.6.2
nltk==3.5
numpy==1.19.4
pandas==1.1.5
pycountry==20.7.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
sumy==0.8.1
threadpoolctl==2.1.0
tqdm==4.54.1
urllib3==1.26.2
